{% extends 'base.html' %}

{% block content %}
    <h1>Maqolalar</h1>
    {% for article in object_list %}
        <div class="card-group">
            <div class="card">
                <img src="{{ article.photo.url }}" class="card-img-top" alt="..." style="width: 50rem">
                <div class="card-body">
                    <h3 class="card-title" style="color:#010724 ;">{{ article.title }}</h3>
                    <h5 class="card-text" style="color:  #041c95 ; ">{{ article.body }}</h5>
                    <p class="card-text" style="color:  #4f60b7 ">{{ article.summary }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ article.date }}</small>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
